<section class="login">
  <div class="wrap-login100">
    <div class="login100-form-title" style="background-image: url(assets/bg-01.jpg);">
      <h1 class="login100-form-title-1">
        Iniciar sesión
      </h1>
    </div>
    <form [formGroup]="loginForm" class="login100-form" (keydown)="keyDownFunction($event)">
      <mat-form-field class="wrap-input100">
        <!-- <span class="label-input100">Usuario</span> -->
        <input required matInput placeholder="Nombre de usuario" formControlName="username">
        <mat-error *ngIf="loginForm.get('username').hasError('required')">
          El nombre de usuario es
          <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="wrap-input100">
        <!-- <span class="label-input100">Contraseña</span> -->
        <input required matInput placeholder="Contraseña" type="password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          La contraseña es
          <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
      <alert style="margin: 0 auto" color="danger" *ngIf="isLoginWrong && isSubmited">
        {{ message }}
      </alert>
      <alert style="margin: 0 auto" color="danger" *ngIf="noConnection && isSubmited">
        {{ 'Falló la conexión' }}
      </alert>
      <!-- <div class="float-right">
        <button mat-raised-button color="primary" (click)="onLogin()">Entrar</button>
      </div> -->
      <div class="container-login100-form-btn" style="margin: 0 auto">
        <button mat-raised-button color="primary" class="login100-form-btn" (click)="onLogin()">Entrar</button>
      </div>
      <!-- <div class="btn">
    <div class="btn__submit" (click)="onLogin()">
      <span class="label">Entrar</span>
    </div>
  </div> -->
    </form>
  </div>
</section>