/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import 'assets/css/bootstrap-reboot.min.css';
@import 'assets/css/bootstrap-grid.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'assets/css/material_icons.scss';

* {
    outline: none !important;
}

body {
    margin: 0;
}

// Nabar
.mat-toolbar { 
    min-height: 56px !important;
    
    .mat-toolbar-row { 
        height: 56px !important;
    } 
}

// Side Menu
ul.sidemenu span.mat-button-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

// MatDialog
.mat-dialog-container {
    padding: 0 !important;
    max-width: 100% !important;
    max-height: 96vh !important;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

.cdk-overlay-backdrop {
    position: fixed !important;
}

.cdk-overlay-pane {
    margin: 10px !important;
}

.cdk-global-overlay-wrapper {
    overflow: auto !important;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

// Notifications

simple-notification > div.simple-notification.success {
    background-color: #4CAF50 !important;
    
    .sn-progress-loader span {
        background-color: darken(#4CAF50, 10%) !important;
    }
}

simple-notification > div.simple-notification.warn > div {
    div.icon > svg * {
        fill: #444 !important;
    }
}

simple-notification > div.simple-notification.alert > div {
    color: #444 !important;

    div.icon > svg > path:nth-child(2) {
        fill: #444 !important;
    }
}
.separator{
    width: 1px; /* Width instead of height */
    height: 30px;
    border-left: 2px solid lightgray;
    margin-left: 7px;
    margin-right: 7px;
}